.dv2_0500100519 {
  font-size: 25px;
  color: #002060;
  padding: 30px 0 50px;
}

.txt1_0458100519 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}

.txt2_0458100519 {
  padding-top: 20px;
  line-height: 1.2;
  margin: 0;
}

.txt3_0458100519 {
  text-align: justify;
}

.img1_0500100519 {
  width: 100%;
  max-width: 160px;
  -webkit-animation: rotation 2s infinite linear;
}

.img2_0500100519 {
  width: 100%;
  max-width: 320px;
}

.dv1_0500100519 {
  position: relative;
  text-align: center;
  margin-top: 70px;
}

.dv1_0500100519 p {
  /*max-width: 450px;*/
  text-align: center;
}

.txt4_0458100519 {
  font-size: 50px;
  color: #0C3C60;
  text-align: center;
  line-height: 1;
  margin-bottom: 40px;
}

.img3_0500100519 {
  display: inline-block;
  width: 220px;
}

.img3_0500100519 img {
  width: 100%
}

.dv4_0500100519 {
  padding: 50px 0 30px;
}

.dv5_0500100519 {
  padding: 0 60px;
}

.dv5_0500100519 .hd1_0632100519 {
  color: #ff0000;
}

.dv6_0500100519 {
  padding: 0 60px;
}

.dv6_0500100519 .hd1_0632100519 {
  color: #0070c1
}

.hd1_0632100519 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.lst1_0632100519 {
  padding-left: 25px;
  margin-bottom: 40px;
}

.lst1_0632100519 li {
  display: inline-block;
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  position: relative;
}

.lst1_0632100519 li:before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  left: -28px;
  top: 2px;
  background-repeat: no-repeat;
  background-size: 21px;
}

.dv5_0500100519 .lst1_0632100519 li:before {
  background-image: url('../img/nuevaWeb/icon_cross_red.png');
}

.dv1_0632100519 {
  text-align: center;
  margin-bottom: 30px;
}

.dv1_0632100519 img {
  display: inline-block;
  width: 134px;
  height: 140px;
}

.dv1_0632100519 p {
  display: inline-block;
  border: 2px dashed red;
  height: 130px;
  vertical-align: bottom;
  margin: 0;
  width: 63%;
  width: calc(95% - 130px);
  font-size: 23px;
  padding: 0px 70px;
  font-weight: 600;
  line-height: 1.4;
}

.dv5_0500100519 .dv1_0632100519 p {
  border-color: #c70505;
}

.dv6_0500100519 .lst1_0632100519 li:before {
  background-image: url('../img/nuevaWeb/icon_mark_blue.png');
}

.dv6_0500100519 .dv1_0632100519 p {
  border-color: #1f609b;
}

.hd3_0632100519 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 40px 0 50px;
  color: #0e6ec4;
}

.lst2_0632100519 {
  padding-left: 25px;
  padding: 0 40px 0 80px;
}

.lst2_0632100519 li {
  display: inline-block;
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  position: relative;
  color: #002060;
}

.lst2_0632100519 li:before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  left: -28px;
  top: 6px;
  background-repeat: no-repeat;
  background-size: 21px;
  background-image: url('../img/nuevaWeb/icon_mark_blue2.png');
}

.dv7_0500100519 {
  padding: 30px 0 60px;
}

.dv8_0500100519 {
  text-align: center;
}

.dv8_0500100519 h3 {
  font-size: 37px;
  font-weight: 600;
  margin: 30px 0 70px;
  color: #0e6ec4;
  text-align: left;
}

.dv8_0500100519 p {
  font-size: 34px;
  color: #00b050;
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
}

/*.dv8_0500100519 a {
  display: inline-block;
  background: #00b0f0;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  min-width: 330px;
  text-decoration: none;
}*/

.img4_0500100519 {
  width: 100%;
}

.dv2_1217110519 {}

.dv2_1217110519 p {
  text-align: justify;
  padding: 0 25px;
}

.dv1_1217110519 {
  text-align: center;
}

.dv1_1217110519 iframe {
  height: 300px;
  max-width: 450px;
}

.hd1_0500100519 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: 200;
}

.dv1_1239110519 {
  padding: 0 50px;
}

.dv1_1239110519 h6 {
  font-size: 26px;
}

.dv1_1239110519 p {
  font-weight: 500;
  font-size: 18px;
}

.dv2_1239110519 {}

.dv2_1239110519 h3 {
  font-size: 35px;
  font-weight: 600;
  color: #0c3c60;
}

.dv2_1239110519 p {
  font-size: 28px;
}

.dv2_1239110519 a {
  display: inline-block;
  background: #0070c0;
  color: #fff;
  font-size: 23px;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.5s;
  border: 2px solid #0070c000;
}
.dv2_1239110519 a:hover{
  border: 2px solid #0070c0;
  background: #88d2f2;
  color: #0070c0;
  border-radius: 5px;
  text-shadow: 0px 1px 1px #0070c0;
}

.dv2_1239110519 img {
  width: 100%
}

.dv3_1239110519 {
  padding: 20px 15px 60px;
  font-size: 28px;
}

.dv3_1239110519 p {
  margin-bottom: 50px;
}

.dv3_1239110519 span {
  display: inline-block;
  width: 100%;
}

.dv4_1239110519 {
  text-align: center;
  position: relative;
  padding-right: 220px;
}

.dv4_1239110519 h3 {
  color: #0070c0;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.dv4_1239110519 a {
  display: inline-block;
  background: #00b0f0;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  padding: 16px;
  min-width: 330px;
  text-decoration: none;
  text-align: center;
}

.dv4_1239110519 img {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
}

.dv1_0156110519 {
  padding: 0px 80px;
  min-height: 380px;
}

.dv1_0156110519 .our-software95423 {}

.dv1_0156110519 iframe {
  width: 100%;
  height: 220px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.dv1_0156110519 .data-leftsoftware951 {
  text-align: justify;
}

.dv2_0156110519 {
  color: #fff;
  padding: 70px 0 0;
}

.dv3_0156110519 {
  text-align: center;
}

.dv3_0156110519 img {
  width: 100%;
  max-width: 800px;
}

.dv5_0424110519 {
  padding-left: 70px;
  font-size: 45px;
  color: #011949;
  font-weight: 600;
  text-align: center;
}

.dv5_0424110519 p {
  margin-top: 30px;
}

.dv5_0424110519 span {
  text-align: justify;
}

.dv6_0424110519 {
  background: #5acbf7;
  text-align: center;
  padding: 15px 20px;
  color: #fff;
  width: 380px;
}

.dv6_0424110519 h3 {
  margin: 0 0 40px;
  font-size: 26px;
}

.dv6_0424110519 input {
  border: none;
  background: #f1f1f1;
  border-radius: 5px !important;
  margin: auto;
  margin-bottom: 30px;
  max-width: 370px;
}

::-webkit-input-placeholder {
  color: #929292 !important;
  font-weight: 500;
}

:-ms-input-placeholder {
  color: #929292 !important;
  font-weight: 500;
}

::placeholder {
  color: #929292 !important;
  font-weight: 500;
}

.contact-form input::-webkit-input-placeholder {
  color: #fff !important;
}

.contact-form input:-ms-input-placeholder {
  color: #fff !important;
}

.contact-form input::placeholder {
  color: #fff !important;
}

.dv6_0424110519 p {
  font-size: 21px;
  text-align: left;
  max-width: 350px;
  font-weight: 500;
}

.dv6_0424110519 a {
  color: #011949;
}





.dv6_0424110519 button{
  display: inline-block;
  background: transparent;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 12px;
  min-width: 280px;
  text-decoration: none;
  text-align: center;
  border: none;
  position: relative;
  z-index: 1;
}
.dv6_0424110519 button  span{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: unset;
  background: #ffc000;
  z-index: -1;
  overflow: hidden;
}
.dv6_0424110519 button  span:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  right: auto;
  margin: auto;
  width: 100%;
  background: #1665ab;
  transition: 0.5s;
}
.dv6_0424110519 button:hover span{}
.dv6_0424110519 button:hover span:before{
  left: 0%;
}


























.mrg_b_0 {
  margin-bottom: 0 !important;
}

.dv7_0458110519 {
  text-align: center;
}

.dv7_0458110519 h3 {
  font-size: 35px;
  font-weight: 600;
  margin: 30px 0 40px;
}

.dv7_0458110519 iframe {
  width: 60vw;
  height: 50vw;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.overview_table_wrrpr {}

.overview_table_dv {
  width: 100%;
  text-align: center;
  min-width: 991px;
  margin-bottom: 20px;
}

.overview_table_dv td {
  width: 20%;
  border: 5px solid #fafafa;
  height: 57px;
}

.overview_table_dv td i {
  font-size: 30px;
}

.overview_table_dv tr td:nth-child(2) i {
  color: #ee1c1f
}

.overview_table_dv tr td:nth-child(3) i {
  color: #facb03
}

.overview_table_dv tr td:nth-child(4) i {
  color: #9be200
}

.overview_table_dv tr td:nth-child(5) i {
  color: #00abf7
}

.overview_table_dv tr:nth-child(odd) td {
  background: #f0f0f0;
}

.overview_table_dv tr:nth-child(even) td {
  background: #f7f7f7;
}

.overview_table_dv tr:nth-child(1) td,
.overview_table_dv tr:nth-child(2) td {
  background: transparent;
}

.ovtabl_head1 {
  border: 1px solid #f1f1f1;
}

.ovtabl_head1 h3 {
  background: #3ba3e9;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.ovtabl_head1 p {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color: #075ba6;
  padding: 5px;
  text-transform: capitalize;
  min-height: 58px;
}

.ovtabl_head1 img {
  width: 100%;
  max-width: 160px;
  height: 80px;
  object-fit: contain;
}

.ovtabl_head1 a {
  display: inline-block;
  width: 100%;
  background: #3ba3e9;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1
}

.ovtabl_head_lft {}

.ovtabl_head_lft p {
  background: #9dc3e7;
  margin: 0;
  color: #fff;
  padding: 70px 0;
  font-size: 22px;
  font-weight: 600;
  min-height: 210px;
  border-bottom: 1px solid #fafafa;
}

.ovtabl_head2 p {
  background: #fafafa;
  margin: 0;
  height: 210px;
  padding: 5px;
  font-weight: 500;
  text-align: justify;
  margin: 0 1px;
  border-bottom: 1px solid #ffffff;
}

.ovtabl_head3 {
  margin: 0;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 1.1;
  padding: 10px;
  background: #9dc3e7 !important;
}

.ovtabl_head3_hd {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.ovtabl_head3 p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.ovtabl_head3 h3 {
  margin: 0;
  font-size: 28px;
  color: ;
  font-weight: 600;
}

.ovtabl_body {
  margin: 0;
  font-size: 16px;
  color: #0e2e6c;
  font-weight: 600;
  padding: 4px;
}

.ovtabl_body span {
  display: inline-block;
  width: 100%;
  font-size: 11px;
}

.ovtabl_body3 {
  border-radius: 15px;
  background: #9dc3e6;
  margin: 2px;
  overflow: hidden;
}

.ovtabl_body3 p {
  margin: 0;
  font-size: 16px;
  color: #0e2e6c;
  font-weight: 600;
  padding: 5px;
  padding-left: 45px;
  line-height: 1;
  min-height: 52px;
  position: relative;
  z-index: 1
}

.ovtabl_body3 p img {
  position: absolute;
  left: 5px;
  height: 50px;
  width: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.color1_bg_thme1 {
  background-color: #ee1c1f !important;
}

.color1_bg_thme2 {
  background-color: #facb03 !important;
}

.color1_bg_thme3 {
  background-color: #9be200 !important;
}

.color1_bg_thme4 {
  background-color: #00abf7 !important;
}

.color2_bg_thme1 {
  background-color: #ee1c1f33 !important;
}

.color2_bg_thme2 {
  background-color: #facb0333 !important;
}

.color2_bg_thme3 {
  background-color: #9be20033 !important;
}

.color2_bg_thme4 {
  background-color: #00abf733 !important;
}

.blog2-datalist6315 {}

.blog2-datalist6315 img {
  width: 400px;
}

.blog2-datalist6315 p {
  width: 100% !important;
  margin-left: 0 !important;
}

.blog2-datalist6315 p.wdt_adjst {
  width: calc(100% - 430px) !important;
  margin-left: 15px !important;
}

.blog2-datalist6315 ul {}

.blog2-datalist6315 ul li {
  font-size: 18px;
  color: #000;
  line-height: 1.5;
}

.blog2-datalist6315 a {
  font-weight: 600;
  font-style: italic;
}

.dv1_0358130519 {}

.dv1_0358130519 ul {
  padding: 0;
  margin-bottom: 30px;
}

.dv1_0358130519 ul li {
  background: #f3f3f3;
  color: #949494;
  font-size: 17px;
  display: inline-block;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px 2px;
}

.dv1_0358130519 .textarea {
  position: relative;
  margin-bottom: 70px;
}

.dv1_0358130519 .textarea img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 40px;
  width: 40px;
}

.dv1_0358130519 .textarea textarea {
  font-size: 21px;
  width: 100%;
  padding: 30px 50px 30px 80px;
  color: #949494;
  border: none;
  border-top: 2px dashed #dcdcdc;
  border-bottom: 2px dashed #dcdcdc;
  height: 100px;
  overflow-y: scroll;
}

.sof2-manufblog951 {
  background: #d1d1d1 !important;
  margin-bottom: 0 !important;
  border: none !important;
}

.sof2-manufblog951 .share-maindata632 {
  background: transparent !important;
}

.hd1_0457130519 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
}

.mrg_b_20 {
  margin-bottom: 20px;
}

.mdl_0539130519 {}

.mdl_0539130519 .modal-content {
  background: #fff !important;
  padding: 20px !important;
  border-radius: 0;
}

.mdl_0539130519 form {
  text-align: center;
  margin-bottom: 0;
  position: relative;
}

.mdl_0539130519 form .close {
  background: transparent;
  color: #00b0f0;
  opacity: 1;
  font-weight: 100;
  font-size: 65px;
  line-height: 0.5;
  position: absolute;
  top: -35px;
  right: -30px;
}

.mdl_0539130519 form h3 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.mdl_0539130519 form input {
  text-align: center;
  width: 100%;
  border: none;
  border-bottom: 3px solid #0909f1;
  font-size: 24px;
  padding: 5px;
  margin-bottom: 30px;
}

.mdl_0539130519 form p {
  font-size: 27px;
  color: #0909f1;
  text-transform: uppercase;
}

.mdl_0539130519 form button {
  background: #00b0f0;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 600;
}

.mdl_0539130519 form button i {}

.img1_0645130519 {
  display: inline-block;
  position: relative;
  height: 140px;
  width: 140px;
}

.img1_0645130519 img {
  position: absolute;
  height: 140px;
  width: 140px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.img1_0645130519 img:nth-child(1) {
  -webkit-animation: rotation 10s infinite linear;
}






.carousel-control{
  transition: 0.5s;
}
.carousel-control:hover{
  opacity: 1;
}

























.hover_pins{
  background-color: #5ac9f6;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  padding: 7px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none !important;
  display: inline-block;
  border: 2px solid #5ac9f6;
  position: relative;
  min-width: 200px;
  transition: all 0.3s ease-in-out;
}



.hover_pins:before,
.hover_pins:after {
  content:'';
  display:block;
  position:absolute;
  border-color:#5ac9f6;
  box-sizing:border-box;
  border-style:solid;
  width:1em;
  height:1em;
  transition:all 0.3s ease-in-out
}
.hover_pins:before {
  top:-6px;
  left:-6px;
  border-width:2px 0 0 2px;
  z-index:5;
}
.hover_pins:after {
  bottom:-6px;
  right:-6px;
  border-width:0 2px 2px 0;
}
.hover_pins:hover:before,
.hover_pins:hover:after {
  width:calc(100% + 12px);
  height:calc(100% + 12px);
  border-color:#0170c1;
}
.hover_pins:hover {
  color:#fff;
  background-color:#0170c1;
  border-color:#0170c1;
}


























.color-chart{
  z-index: 1
}
.content--canvas{}
/*.content--canvas canvas{
  position: absolute !important;
  z-index: 0 !important;
}*/
















/* rsp-1400 */
@media (min-width: 1200px) and (max-width:1400px){}
/* rsp-1199 */
@media (min-width: 992px) and (max-width:1199px){}
/* rsp-991 */
@media (min-width: 768px) and (max-width:991px){}
/* rsp-767 */
@media (min-width: 576px) and (max-width:767px){}
/* rsp-575 */
@media (min-width: 451px) and (max-width:575px){}
/* rsp-450 */
@media screen and (max-width: 450px){}



/* rsp-min-1400 */
@media (min-width:1401px){}
/* rsp-min-1400 */
@media (min-width:1200px){}
/* rsp-min-1199 */
@media (min-width:992px){}
/* rsp-min-991 */
@media (min-width:768px){}
/* rsp-min-767 */
@media (min-width:576px){}
/* rsp-min-575 */
@media (min-width:451px){}



/* rsp-max-1400 */
@media (max-width:1400px){}
/* rsp-max-1199 */
@media (max-width:1199px){
	.dv1_0632100519 p {
	  padding: 5px;
	}
	.img3_0500100519 {
	  top: auto;
	  bottom: 0px;
	  width: 180px;
	}
	.mar-leftpos951{
		margin-left: 0;
	}
	.dv1_0156110519 {
	  padding: 0px 15px;
	}
	.rsp_0142140519 .col-xs-12:nth-child(3n + 3){
		clear: both;
	}







}
/* rsp-max-991 */
@media (max-width:991px){
	.fadeInSmoove{
		opacity: 1 !important
	}
	.why-usmaindatacont{
		margin-bottom: 15px;
	}
	.tituloLicensing2{
		font-size: 35px !important;
	}
	.download-portfoliosty h4 {
	  font-size: 5vw;
	}
	.download-portfoliosty {
	  margin-top: 4.5vw;
	}
	.dv1_0500100519 p {
	  max-width: 100%;
	}
	.dv2_0500100519 {
	  padding: 30px 15px 50px;
	}
	.txt4_0458100519 {
	  font-size: 40px;
	  margin-bottom: 30px;
	}
	.container{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.dv5_0500100519, .dv6_0500100519 {
	  padding: 0 15px;
	  text-align: center;
	}
	.lst1_0632100519 {
	  display: inline-block;
	  width: 440px;
	}
	.dv8_0500100519 h3 {
	  margin: 30px 0;
	  text-align: center;
	}
	.dv8_0500100519 p {
	  margin-bottom: 30px;
	}
	.dv8_0500100519 a{
		min-width: auto;
    padding: 10px 20px;
    margin-bottom: 30px;
	}
	.lst2_0632100519{
		margin-bottom: 0;
	}
	.mar-leftpos951 .img1_0645130519{
    position: relative !important;
    width: 100%;
	}
	.we-prepadesty951{
		margin-left: 0;
	}
	.dv5_0424110519{
		padding: 0;
	}
	.dv5_0424110519{
		font-size: 35px;
	}
	.dv6_0424110519 h3 {
	  margin: 0 0 20px;
	}
	.dv6_0424110519 input {
	  margin-bottom: 15px;
	}
	.rsp_0142140519 .col-xs-12:nth-child(3n + 3){
		clear: none;
	}
	.rsp_0142140519 .col-xs-12:nth-child(2n + 3){
		clear: both;
	}







}
/* rsp-max-767 */
@media (max-width:767px){
	.sams-footertxt {
	  min-height: auto;
	  padding: 25px 5px;
	  font-size: 21px;
	}
/*	.samas-sermain img {
	  max-width: 160px;
	}*/
	.samas-sermain {
		padding: 10px 10px 0;
	}
	.download-portfoliosty a {
	  font-size: 20px;
	  padding: 8px 35px 0;
	}
	.dv2_0500100519 .img1_0645130519{
		width: 100%;
	}
	.txt2_0458100519{
		text-align: center;
		padding-bottom: 20px;
	}
	.txt4_0458100519 {
	  font-size: 30px;
	  margin-bottom: 20px;
	}
	.txt3_0458100519 {
	  font-size: 20px;
	}
	.hd1_0632100519{
		font-size: 30px;
		margin-bottom: 10px;
	}
	.lst1_0632100519 li{
		font-size: 20px;
	}
	.lst1_0632100519 {
	  margin-bottom: 20px;
	}
	.hd3_0632100519{
		font-size: 30px;
		margin: 40px 0 20px;
	}
	.lst2_0632100519 li {
	  font-size: 20px;
	  margin-bottom: 5px;
	}
	.lst2_0632100519 {
	  padding: 0 40px 0 40px;
	}
	.dv8_0500100519 h3 {
	  font-size: 25px;
		margin: 0 0 10px;
	}
	.dv8_0500100519 p {
	  font-size: 23px;
		margin: 0 0 10px;
	}
	.dv8_0500100519 a{
		font-size: 20px;
	}
	.audit-colorsty951 {
    max-width: 350px;
  }
	.mar-leftpos951 {
	  text-align: center;
	}
	.sol-lieshaving {
	  padding: 10px 20px 1px;
	}
	.tituloLicensing2 {
	  font-size: 30px !important;
	}
	.evaluation-clickdata841{
		padding: 10px 5px;
		font-size: 20px;
		letter-spacing: 0.5px;
	}
	.evaluation-maindata {
	  box-shadow: 0px 0px 0px 1px #fff;
	  margin-top: 10px;
	}
	.software-helpcan856{
		margin-top: 0;
	}
	.software-helpcan856 p {
	  font-size: 25px;
	  margin-bottom: 5px;
	}
	.software-audithad846 {
	  font-size: 22px;
	}
	.dv1_0156110519 {
	  padding: 0px 15%;
	  min-height: auto;
		margin-bottom: 20px;
	}
	.data-leftsoftware951 h6 {
	  font-size: 20px;
	}
	.dv6_0424110519 {
	  width: 100%;
	}
	.dv6_0424110519 p {
	  text-align: center;
	  max-width: 100%;
	}
	.dv5_0424110519 {
	  font-size: 25px;
		margin-bottom: 20px;
	}
	.dv5_0424110519 p {
	  margin: 0;
	}
	.abc-sliderdata951 {
	  width: 90%;
	}


body .blog2-datalist6315 img {width: auto !important; max-width: 100% !important; margin: auto !important;}
body .blog2-datalist6315 p.wdt_adjst {width: 100% !important; margin-left: 0px !important;}




}
/* rsp-max-575 */
@media (max-width:575px){
	.dv1_0500100519 {
	  text-align: center;
	}
	.img3_0500100519{
		position: initial;
		width: 100%;
		display: inline-block;
		padding: 20px 0 0;
	}
	.img3_0500100519 img {
	  width: 280px;
	  height: 200px;
	  padding: 20px;
	  background: #efefef;
	  border-radius: 20px;
	  object-fit: contain;
	}
	.dv7_0500100519 {
	  padding: 30px 0 30px;
	}
	.tituloLicensing2 {
	  font-size: 22px !important;
	  margin-top: 20px;
	}
	.benefits-dataall9562{
		margin-top: 20px;
		font-size: 25px;
	}
	.oriented-helpdata{
		font-size: 20px;
	}
	.dv6_0424110519 button {
	  padding: 8px 12px;
	  min-width: auto;
	}
	.dv5_0424110519 {
	  padding: 0 10px;
	}
	.dv7_0458110519 iframe {
	  width: 90vw;
	  height: 60vw;
	}
	.list-sixreasondata651 h5 {
	  font-size: 24px;
	}








}
/* rsp-max-450 */
@media (max-width:450px){
	.dv1_0632100519 img{
		display: none;
	}
	.dv1_0632100519 p{
		width: 100%;
	}
	.lst1_0632100519 {
	  width: auto;
	  text-align: left;
	}
	.software-helpcan856 p {
	  font-size: 21px;
	  font-weight: 500;
	}
	.software-audithad846 {
	  font-size: 21px;
	}
	.dv1_0156110519 {
	  padding: 0px 5%;
	}






}
