:focus{outline: 0px !important;}
.mar-topmy{margin-top: 15px;}
.main-buttonlanchange{margin-top: 22px;}
.lang-changesty851 {border: 0px; border-radius: 0px;}
.lang-changesty851 li {display: inline-block; width: 100%; line-height: 1.5;}
.lang-changesty851 li a {width: 100%; display: inline-block; font-size: 15px; line-height: 1.5 !important; height: auto; color: #177cc0;}
.lang-changesty851 li a img{width: 25px; float: right;}
.main-buttonlanchange button{background-color: transparent !important; border: 0px !important; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important; color: #075ba6 !important; border-radius: 0px !important;}
.main-buttonlanchange button i{font-size: 31px; color: #5bc7f5;}
.arrow-spansty{border-right: 6px solid transparent; border-left: 7px solid transparent; border-top: 7px dashed; color: #5bc7f5;}
.la-servicesty{color: #0c3c60; text-align: center; font-size: 35px; text-transform: uppercase; font-weight: 600;}
.la-serdataall{}
.la-serdataall p{text-align: center; background-color: #deebf7; color: #0c3c60; font-weight: 600; font-size: 20px; padding: 2px 2px; margin-top: 10px; border-top: 2px #fff9f9 solid;}
.img-heightsetsty{background-color: #dfebf7; min-height: 282px; border-top: solid 2px #fff; margin-top: 20px;}
.img-heightsetsty img{max-width: 100%;}

.arrow-slidersty{font-size: 34px;}
.arrow-leftbgsty{background-image: none !important; height: 50px !important; top: 35%; background-color: #177cc0 !important; width: 50px !important; border-radius: 50%; vertical-align: middle; line-height: 57px; text-align: center; padding: 0px;}
.video-slidertext{font-size: 29px !important; text-decoration: underline; color: #213567 !important; margin-bottom: 26px; margin-top: 20px;}
.carousel-indicators li {width: 12px !important; height: 12px !important;background-color: #fafafa !important; box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.5) !important; border: solid 2px #075ba6 !important;}

.carousel-indicators .active {width: 12px !important; height: 12px !important; background-color: #075ba6 !important; }
.footer-logomainbox{width: 200px; height: 200px; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; background: #ffffff; display: inline-block; text-align: center; margin-bottom: 20px;}
.footer-logomainbox img{width: 150px; height: auto; margin-top: 38px;}
.menu-footersty856{margin-top: 10px; padding-left: 0px; margin-left: 0px; margin-bottom: 22px;}
.menu-footersty856 li{display: block;margin-bottom: 5px; border-top: solid 0px #246dae; padding-top: 5px;}
.menu-footersty856 li a{color: #ffffff; text-decoration: none; font-size: 16px;}
.footerhad-sty9631{color: #ffffff; font-size: 20px; font-weight: 600;}
.fondo2 {padding: 30px 0px !important;}
.footer-weprovidesty{color: #ffffff; font-size: 16px; margin-bottom: 28px;text-align: justify;}
.menu-footeraddress8956{margin-top: 10px; padding-left: 0px; margin-left: 0px; margin-bottom: 22px;}
.menu-footeraddress8956 li{display: block;margin-bottom: 2px; color: #ffffff; text-decoration: none; font-size: 18px;}

.footercopyright-data{text-align: center; margin-top: 20px;}
.footercopyright-data p{color: #ffffff; font-size: 15px;}
.about-haddingpdata{/*background-color: rgb(255, 255, 255);*/margin-top: 10px; padding: 5px 0px; font-size: 18px !important;}
.main-aboutbox856{border: solid 1px #d2cdcd; border-radius: 5px; margin-bottom: 15px;transition: background-color 0.5s ease; -webkit-transition-delay: 1s; transition-delay: 1s;}
.main-aboutsecbox{background-color: #1fabe2; padding: 6px; vertical-align: middle;position: relative;  transition: background-color 0.5s ease;}
.main-aboutsecbox img{width: 60px; display: inline-block; height: 60px; margin-right: 9px;}
.main-aboutsecbox p{display: inline-block; color: #fff; font-size: 24px; font-weight: 400; margin-bottom: 0px;position: absolute; top: 20px; bottom: 0;}
.main-aboutthirdbox{padding: 20px 20px;}
.main-aboutthirdbox p{color: #272626; font-weight: 600; font-size: 15px; line-height: 1.5; margin-bottom: 0px;text-align: justify;}
.main-aboutthirdbox ul{padding-left: 0px; margin-left: 15px;}
.main-aboutthirdbox ul li{color: #272626; font-weight: 600; font-size: 15px; line-height: 1.5; margin-bottom: 0px;}
.customer-throwout{margin-top:-368px; text-align: left;}
.throw-outfont851{font-size: 25px !important; margin-bottom: 0px;}
.stanp-rotatesty{width: 100%; max-width: 285px;}
.why-usmainpart{background-color: #88d2f2; padding: 30px 0px;}
.main-whyushad{text-transform: uppercase; color: #09375b; text-align: center; font-size: 50px; font-weight: 100;margin-bottom: 40px;}

.why-usmaindatacont{border-top-left-radius: 10px; border-top-right-radius: 10px;transition: background-color 0.5s ease; -webkit-transition-delay: 1s; transition-delay: 1s;}
.why-usmaindatacont:hover .why-usfirst852 {background-color: #213567;}
.why-usmaindatacont:hover .why-ussec951 p {color: #213567;}
.why-usfirst852{background-color: #0170c1; text-align: center; padding: 25px 20px; border-top-left-radius: 10px; border-top-right-radius: 10px;transition: background-color 0.5s ease; -webkit-transition-delay: 0.2s; transition-delay: 0.2s;}
.why-usfirst852 p{color: #fff; font-size: 22px; font-weight: 600; min-height: 60px;}
.why-usfirst852 img{width: 127px; height: 143px;}
.why-ussec951{background-color: #fff; padding: 24px 20px; text-align: center;}
.why-ussec951 p{font-size: 20px; font-weight: 600;text-transform: capitalize; color: #000;}
.we-combinesty{text-align: center; color: #213567; font-size: 24px; line-height: 1.5; margin-top: 32px;}
.what-ourcus{background-color: #fafafa; padding: 30px 0px; }

.customers-satsdata852{border: solid 1px #88d2f2; padding: 15px; width: 72%; position: relative; margin-bottom: 15px; margin-top: 15px; width: calc(100% - 265px);display: inline-block;}
.customers-satsdata852 p{color: #000; font-size: 28px; width: 83%;}
.main-cont951datasto{position: relative;display: inline-block;}
.main-cont951datasto span{background-color: #fff; padding: 14px; width: 362px; display: inline-block; float: right; margin-left: -123px; position: absolute; top: 43px;}
.main-cont951datasto span img {top: 27px; width: 100%;}


.customers-satsdata853{border: solid 1px #88d2f2; padding: 15px; width: 72%; position: relative; margin-bottom: 15px; margin-top: 15px;width: calc(100% - 265px);display: inline-block;float: right;}
.customers-satsdata853 p{color: #000; font-size: 28px; width: 83%;float: right;}
.main-cont951datasto1 {position: relative;display: inline-block;}
.main-cont951datasto1 span{background-color: #fff; padding: 14px; width: 362px; display: inline-block; float: right; margin-left: 4px; position: absolute;top: 31px; z-index: 9;}
.main-cont951datasto1 span img{top: 27px; width: 100%;}


.customers-satsdata854{border: solid 1px #88d2f2; padding: 15px; position: relative; margin-bottom: 15px; margin-top: 15px;width: calc(100% - 136px);display: inline-block;}
.customers-satsdata854 p{color: #000; font-size: 28px; width: 89%;}
.main-cont951datasto2 {position: relative;display: inline-block;}
.main-cont951datasto2 span{background-color: #fff; padding: 14px; width: 245px; display: inline-block; float: right; margin-left: -123px; position: absolute; top: 27px;}
.main-cont951datasto2 img{top: 27px; width: 100%;}
.subscribe-maincont{background-color: #fafafa; padding: 0px 0px 30px 0px; }

.subscribedata-all951{background-color: #0070c0; padding: 40px; width: 60%; margin: auto; text-align: center;}
.subscribedata-all951 h6{margin-top: 0px; color: #fff; font-size: 24px; font-weight: 600;}
.subscribedata-all951 p{color: #fff; font-size: 20px; margin-top: 20px;}
.subscribedata-all951 button{border: 0px; background-color: #fff; color: #075ba6; padding: 8px 33px; font-size: 26px; font-weight: 400; margin-top: 25px; letter-spacing: 0.9px;}
.subs-secstep{}
.subs-secstep input{width: 100%; background-color: #fff; padding: 10px 10px; color: #000; color: #000;
font-size: 17px; border: 0px;}
.subs-secstep{display: none;}
.over-spendingcont{width: 100%;}
.data-leftsoftware951{padding-left: 30px;}
.data-leftsoftware951 h6{font-size: 24px;font-weight: 600;}
.data-leftsoftware951 p{font-size: 16px; font-weight: 400; min-height: 94px;}
.our-software95423{position: relative;margin-bottom: 20px;padding: 5px;}
.our-software95423 img{max-width: 220px; width: 100%;}
.color-red1{background-color: #ff0000; width: 10px; height: 100%; position: absolute; left: 0;top: 0px;}
.color-blue2{background-color: #0070c0; width: 10px; height: 100%; position: absolute; left: 0;top: 0px;}
.color-green3{background-color: #00b050; width: 10px; height: 100%; position: absolute; left: 0;top: 0px;}
.color-yello4{background-color: #00ff8a; width: 10px; height: 100%; position: absolute; left: 0;top: 0px;}
.color-darkblue5{background-color: #00b0f0;width: 10px; height: 100%;position: absolute; left: 0;top: 0px;}
.color-redbg123{background-color: #fff4f4;}
.color-bluebg123{background-color: #deffef;}
.color-greenbg123{background-color: #e0f9ec;}
.color-yellobg123{background-color: #ecf4fb;}
.color-darkbluebg123{background-color: #d6f2fc;}
.samas-sermain {background-color: #0170c1; text-align: center; padding: 25px 20px 0px 25px; border-top-left-radius: 10px; border-top-right-radius: 10px; min-height: 240px;transition: background-color 0.5s ease; -webkit-transition-delay: 1s; transition-delay: 1s;position: relative;}
.samas-sermain img {width: 100%; height: auto; max-width: 100px;  margin-top: 43px; }
.sams-footertxt {background-color: #fff; padding: 10px 10px; text-align: center; min-height: 75px; vertical-align: middle; line-height: 1.2; position: relative; }
.sams-footertxt p {font-size: 21px; font-weight: 600; color: #0170c1; text-transform: inherit; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); width: 92%; left: 0; right: 0; margin: auto !important; }
.data-showhoversam{text-align: right; opacity: 0; position: absolute;top: 17px; left: 0; right: 0;width: 91%; margin: auto !important; transition: 0.5s; margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);}
.data-showhoversam p{text-align: justify;color: #fff; font-size: 15px; font-weight: 600; line-height: 1.5;}
.data-showhoversam a{display: inline-block; color: #fff; font-weight: 600; font-size: 18px; margin-bottom: 10px; text-decoration: underline;}
.hover-shoalldata851{position: relative;}
.hover-shoalldata851:hover .data-showhoversam{opacity: 1;}
.hover-shoalldata851:hover .stanp-rotatesty{opacity: 0 !important;}
.serv-downloadmain{padding: 30px 0px; background-color: #fafafa;}
.ser-downloadimgsty{max-width: 100%;}
.download-portfoliosty{text-align: center;margin-top: 40px;}
.download-portfoliosty h4{font-size: 50px; text-transform: uppercase; line-height: 1.4; font-weight: 600;text-align: left;}
.download-portfoliosty a{background-color: #5ac9f6; color: #fff; font-weight: 500; font-size: 25px; padding: 7px 30px; letter-spacing: 1px; text-transform: uppercase; margin-top: 23px; text-decoration: none !important; display: inline-block; border: 2px solid #5ac9f6; position: relative; transition: all 0.3s ease-in-out;}
.download-portfoliosty a p{margin: 0; }
.download-portfoliosty a:before,
.download-portfoliosty a:after {content:''; display:block; position:absolute; border-color:#5ac9f6; box-sizing:border-box; border-style:solid; width:1em; height:1em; transition:all 0.3s ease-in-out }
.download-portfoliosty a:before {top:-6px; left:-6px; border-width:2px 0 0 2px; z-index:5; }
.download-portfoliosty a:after {bottom:-6px; right:-6px; border-width:0 2px 2px 0; }
.download-portfoliosty a:hover:before,
.download-portfoliosty a:hover:after {width:calc(100% + 12px); height:calc(100% + 12px); border-color:#0170c1;}
.download-portfoliosty a:hover {color:#fff; background-color:#0170c1; border-color:#0170c1; }
.auditDefensemain-sty{}
.sol-lieshaving{background-color: #606062; padding: 48px;}
.sol-lieshaving p{font-size: 20px; color: #fff; margin-bottom: 15px;line-height: 1.5;}
.audit-colorsty951{max-width: 360px; width: 100%; left: -83px}
.audit-colorstytwo856{width: 150px; position: absolute; right: 0;-webkit-animation: rotation 2s infinite linear;}
.we-prepadesty951{text-align: center; font-size: 17px; margin-left: 70px;}
.mar-leftpos951{margin-left: -73px;}
@-webkit-keyframes rotation {
		from {-webkit-transform: rotate(0deg);}
		to {-webkit-transform: rotate(359deg); }
}

.main-benefitsdata{background-color: #88d2f2; padding: 30px 0px;}
.oriented-helpdata{text-align: justify; font-size: 22px; line-height: 1.5; width: 80%;
margin: auto;}
.benefits-dataall9562{text-align: center; text-transform: uppercase; letter-spacing: 1px; font-weight: 600; margin-top: 42px; font-size: 38px;color: #213567;}

.evaluation-maindata{margin-top: 36px; background-color: #fff; border: solid 1px #c9c9c9; box-shadow: 0px 0px 0px 5px #fff;border-radius: 5px;}

.evaluation-clickdata841{background-color: #1fabe2; text-align: center; color: #fff; text-transform: uppercase; font-size: 28px; font-weight: 600; padding: 20px 5px; border-top-left-radius: 5px;
border-top-right-radius: 5px; cursor: pointer; margin-bottom: 0px;}
.evaluation-dataall951{padding: 19px 30px; min-height: 121px;}
.evaluation-dataall951 p{font-size: 16px; color: #213567; font-weight: 400;}
.evil-open, .evi2-open, .evi3-open{display: none;}
.in-softwareyou{background-color: #fafafa; padding: 30px 0px;}
.software-audithad846{text-align: center; font-size: 24px; color: #213567; line-height: 1.2;}
.software-helpcan856{margin-top: 32px;}
.software-helpcan856 p{font-size: 30px; color: #0e8dbf; font-weight: 600; margin-bottom: 25px;}
.audit-defencebuttonsec{text-align: center;}
.audit-defencebuttonsec img{display: inline-block; max-width: 250px;}
.audit-defencebuttonsec button{background-color: #1fabe2;border-color:#1fabe2;font-size: 18px; margin-top: 55px !important;}

.mar-topauditsoftware{width: 90%; margin: auto; margin-top: 25px !important;}

.modalmidsty-862{}
.modalmidsty-862 .modal-content{background-color: #0070c0 !important;padding: 25px;}
.pop-form{margin-bottom: 17px; text-align: center;}
.pop-form input{width: 100%; padding: 7px; border: 0px; font-size: 18px;}
.pop-form button{background-color: #fff; color: #0070c0; border: 0px; margin: auto; padding: 9px 25px; font-size: 21px; font-weight: 600; margin-top: 26px;}

.changes-fontsize956{font-size: 34px !important;}
.we-knowdatalist{}
.we-knowdatalist p{font-size: 18px;}
.we-knowdatalist ul{ margin-top: 17px; padding-left: 15px;}
.we-knowdatalist ul li{font-size: 16px; margin-bottom: 10px;}

.rist-imgdatasty{margin-top: 40px; margin-bottom: 20px;}
.rist-imgdatasty ul{padding-left: 0px;}
.rist-imgdatasty ul li{display: inline-block; width: 15%; margin-left: 5px; margin-right: 5px; text-align: center; vertical-align: top; background-color: #fafafa; min-height: 151px;}
.rist-imgdatasty ul li img{width: 155px;}
.rist-imgdatasty ul li p{font-size: 15px;}
.help-orgsty854{background-color: #00b0f0; color: #fff; padding: 8px 0px; text-align: center; font-size: 24px;}

.row-cussppl{margin-left: 0px; margin-right: 0px; margin-top: 25px;}
.row-cusspplimg {text-align: center;}
.row-cusspplimg img{max-width: 100%; margin: auto;}
.row-cusspplpdata {}
.row-cusspplpdata p{ color: #000; font-size: 24px; line-height: 1.5; margin-top: 13%;font-weight: 400;}
.main-sersolsty851{text-align: center; font-size: 34px; color: #213567; margin-bottom: 32px;}
.contact-datacontsty{width: 100%; margin: auto;}
.office-contussty{color: #0070c0 !important;}
.footerlocationdata{width: 80%; margin: auto;}

.site-mapdatasty{padding: 55px 0px;}
.site-mapdatasty a{display: block; text-decoration: none; color: #213567; font-size: 20px; margin-bottom: 8px;}
.news-main{padding:30px 0px; }
.newsmain-hadsty{text-align: center; font-size: 26px; color: #213567;}
.newsmain-hadsty2{text-align: center; font-size: 40px; color: #213567; margin-bottom: 28px;}
.menusub-datanews{border: solid 1px #177cc0; padding: 10px; position: absolute; width: 284px; display: none; background-color: #fff;z-index: 9; top: 46px;}
.click-menunewsimg{cursor: pointer;}
.menusub-datanews ul{padding-left: 15px;}
.menusub-datanews ul li{margin-bottom: 10px;color: #000;cursor: pointer;}
.menusub-datanews ul li a{ color: #000;cursor: pointer; text-decoration: none !important;font-weight: 600;}
.menusub-datanews ul li a:hover{color: #177cc0 !important;}
.news-dataallmeg{min-height: 250px; padding: 15px 20px; border: solid 2px #0075c8; box-shadow: 0px 0px 0px 6px #fff;background-color: #fff;}
.news-dataallmeg h5{font-size: 26px; line-height: 1.3; font-weight: 600; color: #213567; margin-top: 20px; margin-bottom: 20px;}
.news-dataallmeg h6{font-size: 20px; line-height: 1.5; font-weight: 600; text-decoration: underline; color: #177cc0; margin-top: 23px; margin-bottom: 17px;}
.news-dataallmeg p{font-size: 17px; margin-bottom: 12px; line-height: 1.5;}
.news-dataallmeg p  span{text-decoration: underline; color: #177cc0; font-weight: 600;}
.pdf-imgright{text-align: right; padding: 0px;}
.pdf-imgright img{max-width: 168px;}
.pdf-imgleft{text-align: left; padding: 0px;}
.pdf-imgleft img{max-width: 150px;}

.own-toolmainlist{border: solid 1px #dddada; border-radius: 6px; margin-bottom: 35px;}
.own-toolmainimg {text-align: left; background-color: #20a8d8; padding: 11px; border-top-left-radius: 6px;border-top-right-radius: 6px;}
.own-toolmainimg img{width: 58px; vertical-align: middle;}
.own-toolmainimg p{display: inline-block; width: calc(100% - 67px); color: #fff; font-size: 18px; font-weight: 600; vertical-align: middle; min-height: 52px;}
.own-toolmainfooter{padding: 18px 18px;}
.own-toolmainfooter p{font-size: 17px; font-weight: 400; line-height: 1.3;color: #000 !important;min-height: 72px;}
.own-toolslinkhref{text-decoration: none !important;}
.own-toolslinkhref:focus, .own-toolslinkhref:hover {text-decoration: none !important; }
.abc-sliderdata951{width: 80%; margin: auto;}
.tool-sliderappsty{width: 84%; margin: auto;}
.tool-sliderappsty .item{text-align: center;}
.tool-sliderappsty .item img{margin: auto; max-width: 100%;}
.bg-transp956{background-color: transparent !important;opacity: 1 !important;}
.bg-transp956 span{font-size: 86px !important; color: #fff !important;}

.reasons-whymain954{padding: 30px 0px !important; background-color: #fafafa;}
.six-reasonsimgsty{text-align: center;}
.six-reasonsimgsty img{max-width: 100%; margin: auto;}
.list-sixreasondata651{}
.list-sixreasondata651 h5{font-size: 30px; font-weight: 900; line-height: 1.4;}
.list-sixreasondata651 p {font-size: 17px; font-weight: 400; line-height: 1.4; margin-bottom: 18px;}
.ebook-downloadlink956{margin-top: 20px; text-align: center;}
.ebook-downloadlink956 a{background-color: #00b050; color: #fff; display: inline-block; padding: 12px 28px; text-decoration: none !important; font-weight: 600; font-size: 18px;}
.ebook-downloadlink956 a i{font-size: 27px; margin-left: 5px;}
.subscibe-blogsty954{text-align: left;}
.subscibe-blogsty954 a{display: inline-block; background-color: #00b0f0; color: #fff; text-transform: uppercase; font-size: 16px; padding: 9px 21px; text-align: center; text-decoration: none; font-weight: 600;}
.subscibe-blogsty954 a i{font-size: 24px; margin-left: 5px;}

.we-createspacesty{margin-top: 20px;}
.we-createspacesty p{font-size: 22px;}
.blog-datalst6542{padding: 30px 0px; }
.sof-manufblog951{padding: 25px 20px; border:solid 1px #e7e7e7; margin-bottom: 20px;background-color: #fff;display: inline-block;}
.had-blogtitile956{font-size: 24px; font-weight: 600;}
.post-timesty{font-weight: 600; font-size: 16px;}
.blog-datalist6315{margin-top: 25px;margin-bottom: 20px;}
.blog-datalist6315 img{width: 166px; display: inline-block; vertical-align: sub; }
.blog-datalist6315 p{font-size: 18px; color: #000; line-height: 1.5; width: calc(100% - 189px); display: inline-block; vertical-align: top; margin-left: 15px;}

.post-commentmainsty951{text-align: left;}
.post-commentmainsty951 a{font-size: 18px; color: #1fabe2; font-weight: 400; text-decoration: none !important;}
.post-commentmainsty951 a i{margin-right: 6px;}
.read-more964data{text-align: right; margin-bottom: 15px;}
.read-more964data a{font-size: 14px; text-transform: uppercase; font-weight: 600; text-decoration: none !important; background-color: #213567; color: #fff; border: solid 1px #fff; box-shadow: 0px 0px 0px 5px #213567; padding: 8px 26px;}

/*=========================================*/
.share-maindata632{position: absolute; background-color: #fff;z-index: 95;}
.share-maindata632 ul{padding-left: 0px;width: 193px; border: solid 1px #f0e6e6; padding: 17px; text-align: left;}
.txt-right965{text-align: right;}
.share-maindata632 ul li{margin-bottom: 18px; display: block;}
.share-maindata632 ul li a{font-size: 16px; color: #000; text-decoration: none;}
.share-maindata632 ul li a i {margin-right: 7px; font-size: 20px;}
.main-lisscoal965{display: none;}
.mainbutton {display: inline-block; height: 48px; min-width: 47px; background: #00b0f0; outline: none; color: #fff; font-family: inherit; font-weight: 400; font-size: 26px; border-radius: 50%; border: solid 3px #fff; box-shadow: 0px 0px 0px 5px #00b0f0;}
.buttontext {margin-top: 8px;}
.cercleimg-sty{position: absolute !important; top: 0; right: 0;}
.resmenusty9563{margin-right:10%; background-color:#ffffff;}
.footer-socialiconsty{width: 24px; height:auto; cursor:pointer;}
.main-aboutbox856:hover{box-shadow: 0px 1px 8px 1px #b4b4bd;}
.main-aboutbox856:hover .main-aboutsecbox {background-color: #213567;}
.newsletter-boxsty951{background-image: url(../img/nuevaWeb/newsletter-background.png); background-size: cover; padding-bottom: 0px !important;}
.newsletter-overlayerdata{background-color: rgba(33, 53, 103, 0.93); padding-top: 60px; padding-bottom: 60px !important;}

.subscribedata-newsty951{background-color: transparent; padding: 40px; width: 90%; margin: auto; text-align: center;}
.subscribedata-newsty951 h6{margin-top: 0px; color: #fff; font-size: 32px; font-weight: 600; text-transform: uppercase; line-height: 1.4;}
.subscribedata-newsty951 p{color: #fff; font-size: 20px; margin-top: 20px;}
.subscribedata-newsty951 input{width: 100%; display:block; margin: auto;margin-top: 24px !important;
margin-bottom: 29px !important;padding: 14px;}
.subscribedata-newsty951 button{background-color: #1fabe2; color: #fff; border: solid 2px #fff; display: block; margin: auto; padding: 11px 38px; text-transform: uppercase; font-size: 20px; font-weight: 600;   transition: 0.5s;}
.subscribedata-newsty951 button:hover{background-color: #fff; color: #1fabe2; border: solid 2px #1fabe2;}

.realtives{position:relative;}
#owl-demo .item{margin: 3px; color: #FFF; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-align: center; border: solid 1px #1fabe2; margin-bottom: 40px; background-color: #fff; }
#owl-demo .item img{width:100%; height:100px;}
.customNavigation{text-align: right; margin-top:10px; margin-bottom:3px; padding-bottom:3px;}
.customNavigation a{-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.benif-circledata{background-color: #fff; text-align: center; width: 300px; height: 300px; border-radius: 10px; margin: auto; padding: 16px 20px; border: solid 2px #213567; box-shadow: 0px 0px 0px 7px #fff; margin-top: 30px !important; transition: 0.9s;}
.circle-hadfirst621{color: #868686; font-size: 34px; text-transform: uppercase; font-weight: 600;}
.circle-hadsec9632{color: #868686; font-size: 17px; font-weight: 400;}
.benif-circledata:hover{border: solid 2px #fefefe; box-shadow: 0px 0px 0px 7px #1fabe2;background-color: #1fabe2;}
.benif-circledata:hover .circle-hadfirst621 {color: #fff;}
.benif-circledata:hover .circle-hadsec9632 {color: #fff;}
.benif-circledata img{width: 76px; margin: auto;margin-bottom: 7px !important;}
.contact-leftdata951{background-color: #177cc0; color: #fff; padding: 25px; border: solid 4px #fcf9f9; box-shadow: 0px 0px 0px 8px #177cc0;margin-bottom: 13px;}
.contact-leftdata951 p{color: #fff !important;}
.contact-mainhadstymar{margin-bottom: 40px; margin-top: 15px;color: #fff !important;}
.contact-formdat951{background-color: #177cc0; display: inline-block; padding: 23px; box-shadow: 0px 0px 0px 9px #177cc0; border: solid 4px #fff;}
.cont-inputmain956{}
.cont-inputmain956 input{background-color: #177cc0 !important; color: #fef9f9 !important; border: solid 1px #fff; box-shadow: 0px 0px 0px 4px #177cc0 !important; margin-bottom: 11px; padding: 8px; height: auto;}
.cont-inputmain956 input:focus {border-color: #fff !important;}
.cont-inputmain956 textarea{background-color: #177cc0 !important; color: #fef9f9 !important; border: solid 1px #fff; box-shadow: 0px 0px 0px 4px #177cc0 !important; margin-bottom: 11px; padding: 8px; height: auto;}
.cont-formmainbgsty{background-color: #177cc0 !important; padding-top: 60px; padding-bottom: 60px;}

.cont-inputmain956 textarea::placeholder {color: #fff !important; }
.cont-inputmain956 textarea:focus {border-color: #fff !important;}
.cont-inputmain956 button{margin: auto; background-color: #fff !important; color: #424b62 !important; box-shadow: 0px 0px 0px 5px #fff; border-radius: 33px; border: solid 1px #424b62; padding: 5px 34px; text-transform: uppercase; font-size: 20px; font-weight: 600; letter-spacing: 2px; transition: 0.9s; }
.cont-inputmain956 button:hover{background-color: #213567 !important;
color: #fff !important; box-shadow: 0px 0px 0px 5px #213567;border: solid 1px #fff !important;}
.flagmaincont-sty{background-image: url(../img/nuevaWeb/3895416071.jpeg); background-size: cover; padding-bottom: 0px !important;background-attachment: fixed;}
.flagmaincont-layer{padding-top: 60px; padding-bottom: 60px; background-color: rgba(23, 124, 192, 0.88);}

.countrt-flagmain{padding-left: 0px; margin-top: 45px;}
.countrt-flagmain li{display: inline-block; width: 33%; margin-bottom:30px;}
.countrt-flagmain li img{width: 70px; height: 70px; display: inline-block; margin-right: 8px;vertical-align: sub;border-radius: 50%; border: solid 3px #fff;}
.countrt-flagmain li span{display: inline-block;width: calc(100% - 84px);vertical-align: top;}
.countrt-flagmain li span p{font-size: 14px; margin-bottom: 5px; color: #fff; font-weight: 400 !important;}
.countrt-flagmain li span strong{color: #fff; font-size: 18px;text-transform: uppercase;}

.footer-officecontectsty{background-color: #177cc0 !important; padding-top: 60px; padding-bottom: 60px;}
.cont-footertxtsty651{text-align: center; font-size: 34px; color: #fff; text-transform: uppercase; letter-spacing: 2px; font-weight: 600;}
.datacenter-concenter{width: 85%; margin: auto;}
.news-mainimgpost{text-align: center; margin-bottom: 10px;}
.news-mainimgpost img{max-width: 100%; margin: auto;}

.serbutton65{text-align: justify;}



/*================ responsive code =======================*/


@media (max-width: 750px) {
.img-heightsetsty {min-height: auto;}
.form-group {width: 100% !important;}
.blog-datalist6315 p {width: calc(100% - 0px); text-align: left;margin-left: 0px;}
.blog-datalist6315 {text-align: center !important;}
.subtituloLicensing2 {font-size: 18px !important;}
.tituloLicensing2 {font-size: 27px !important; line-height: 1.2 !important;}
.la-servicesty {font-size: 28px !important;}
.iframeVideo{height: auto !important;}
.arrow-leftbgsty {top: 19% !important;}
.video-slidertext{font-size: 18px !important;} 
.res-marauto965 {text-align: center;}
.res-marauto965 img{margin: auto;}
.img-heightsetsty {text-align: center;}
.resmenusty9563{margin-right:0% !important;}
.tituloLicensing4{font-size: 28px; }
.res-padzero{padding: 0px !important;}
.main-aboutsecbox img {width: 55px !important; height: 55px !important;}
.main-aboutsecbox p {font-size: 24px;top: 18px;}
.main-whyushad {line-height: 1.5 !important;font-size: 22px !important;margin-bottom: 8px;}
.customers-satsdata852 {width: calc(100% - 0px) !important;}
.customers-satsdata852 p {font-size: 20px;width: 100%;}
.main-cont951datasto span {width: 100% !important;margin-left: 0px !important; position: relative !important; top: 0px !important; margin-bottom: 16px;}
.main-cont951datasto1 span {width: 100% !important;margin-left: 0px !important; position: relative !important; top: 0px !important;}
.main-cont951datasto2 span {width: 100% !important;margin-left: 0px !important; position: relative !important; top: 0px !important; text-align: center; background-color: #00a4e3;}
.main-cont951datasto2 img {max-width: 215px; margin: auto;}
.customers-satsdata853 {width: calc(100% - 0px);}
.customers-satsdata853 p {font-size: 20px; width: 100%;}
.customers-satsdata854 {width: calc(100% - 0px);}
.customers-satsdata854 p{font-size: 20px; width: 100%;}
.subscribedata-all951 {padding: 30px;width: 100%;}
.subscribedata-all951 h6 {font-size: 19px;}
.subscribedata-all951 p {font-size: 16px;}
.max-wdth965set{max-width: 200px !important;margin: auto !important;}
 .letraFoot, .letraFoot1, .letraFoot-xs, .letraFoot1-xs{font-size: 18px;}
 .rist-imgdatasty ul li {width: 46%;}
 .main-sersolsty851 {font-size: 27px;}
 .sams-footertxt p {font-size: 16px;}
 .row-cusspplpdata p {font-size: 18px; margin-top: 7%;}
 .dv2_1217110519 p {padding: 0 0px !important;}
 .hd1_0500100519 {line-height: 1.4 !important;font-size: 26px !important; margin-bottom: 28px !important;}
.dv1_1239110519 {padding: 0 8px !important;}
.dv4_1239110519 {text-align: center !important; padding-right: 0px !important;}
.dv4_1239110519 h3 {font-size: 24px !important;}
.dv4_1239110519 a {font-size: 20px !important; padding: 10px !important; min-width: 93% !important; margin-bottom: 20px !important;}
.dv4_1239110519 img {position: relative !important; width: 220px; margin: auto !important; }
.dv3_1239110519 {font-size: 22px !important; }
.dv2_1239110519 p {font-size: 20px !important;}
.dv2_1239110519 a {font-size: 16px !important;}
.newsmain-hadsty2 {font-size: 34px !important; margin-bottom: 20px !important; }
.newsmain-hadsty {font-size: 24px !important;}
.news-dataallmeg {padding: 20px 5px !important; margin-top: 22px;}
.pdf-imgright img {width: 100%;}
.pdf-imgleft img {width: 100%;}
.contact-datacontsty {width: 100% !important;}
.subtituloLicensing4 {word-break: break-all;}
.subscibe-blogsty954 {text-align: center;}
.share-maindata632 {right: 0;top: 50px;}
.mainbutton {float: right}
.post-timesty {margin-top: -37px; position: absolute;}
.read-more964data a {font-size: 14px !important;}
.read-more964data {padding-right: 0px !important;}
.post-commentmainsty951 {padding-left: 0px; }
.post-commentmainsty951 a {font-size: 14px;}
.mainbutton {min-width: auto !important;}
.mdl_0539130519 form h3 {font-size: 28px !important;}
.mdl_0539130519 form p {font-size: 18px !important;}
.blog2-datalist6315 p {width: 100% !important;}
.blog-datalist6315 p {font-size: 16px !important;}
.dv1_0358130519 .textarea textarea {font-size: 18px !important; padding: 6px 21px 3px 56px !important;}
.sof2-manufblog951 .post-timesty{position: relative !important;}
.countrt-flagmain li {width: 100%;}
.countrt-flagmain li img {width: 50px; height: 50px;}
.countrt-flagmain li span {width: calc(100% - 64px);}
.countrt-flagmain li span strong {font-size: 15px;}
.we-combinesty {font-size: 18px;}
.subscribedata-newsty951 {padding: 6px;}
.subscribedata-newsty951 h6 {font-size: 16px;}
.subscribedata-newsty951 input {width: 90%;}
.site-mapdatasty {padding: 55px 15px; }
}

@media (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 600px) {


}

@media (min-width: 600px) and (max-width: 750px) {
.res-smallshoart956{width: 32% !important; display: inline-block !important;}
.main-cont951datasto span img {max-width: 100%; margin: auto; width: auto !important;}
.main-cont951datasto span {text-align: center;}
.main-cont951datasto1 span img {max-width: 100%; margin: auto; width: auto !important; }
.main-cont951datasto1 span {text-align: center;}

}

@media (min-width: 750px) and (max-width: 998px) {
.why-usfirst852 p {min-height: 65px !important;}
.customers-satsdata852 p {font-size: 20px !important; width: 74%; }
.customers-satsdata853 p {font-size: 20px !important; width: 74%;}
.customers-satsdata854 p {font-size: 20px !important; width: 74%; }
.subscribedata-all951 {width: 100%;}
.rist-imgdatasty ul li {width: 30%;}
.download-portfoliosty h4 {font-size: 28px !important;}
.news-dataallmeg {min-height: 250px; padding: 40px 30px;}
.pdf-imgright img {width: 100%;}
.pdf-imgleft img {width: 100%;}
.subtituloLicensing4 {word-break: break-all;}
.contact-datacontsty {width: 100%;}
.img-heightsetsty {min-height: auto;}
.form-group {width: 100% !important;}
.subscibe-blogsty954 {text-align: center;}
.share-maindata632 {left: -81px !important;}
body .blog2-datalist6315 img {width: auto !important; max-width: 100% !important; margin: auto !important;}
body .blog2-datalist6315 p.wdt_adjst {width: 100% !important; margin-left: 0px !important;}
.countrt-flagmain li {width: 48%;}
.small-displaynone951{display: none !important;}
}


@media (min-width: 1001px) and (max-width: 1200px) {
	.why-usfirst852 p {min-height: 65px !important;}
.customers-satsdata852 p {font-size: 20px !important; width: 74%; }
.customers-satsdata853 p {font-size: 20px !important; width: 74%;}
.customers-satsdata854 p {font-size: 20px !important; width: 74%; }
.subscribedata-all951 {width: 100%;}
.main-aboutsecbox img {width: 50px !important; height: 50px !important;}
.main-aboutsecbox p {top: 15px !important;font-size: 24px !important;}
}